/* write your override styles here */
#wall .tag-1 {display: none;}
#tag-2 {display: none;}
div#wall #tag-3 {display: none;}
div#wall .parent #tag-4 {display: none;}
div[class*="slick"] {display: none;}
#tag-6 {display: none;}
#tag-7 {display: none;}
